.mainForm {
    /*display: none;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.formBox {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formBkgnd {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.5s ease;
}